@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

:root {
  --blue-dark: #4c96d7;
  --gray-dark: #3a3a3a;
  --gray-medium: #8d8d8d;
  --gray-light: #bababa;
  --blue-light: #a6cbeb;
  --custom-black: #101010;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: 'Share Tech Mono', sans-serif;
  margin: 0;
}

#wrapper {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

main {
  padding-left: .25rem;
}

/* header */
#motors-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_link_right_space {
  padding-right: 2em;
}

.header_link {
  text-decoration: none;
  color: var(--gray-dark);
}


.info {
  border: 1px solid var(--gray-dark);
  border-radius: 50%;
  padding: 0.2em 0.4em;
    font-size: 0.8em;
  background-color: var(--gray-light);
}



/* nav menu */
#page_nav ul {
  height: 2em;
  padding: 0 1em;
  background-color: var(--gray-dark);
  display: flex;
  gap: 0.5em;
}

#page_nav ul li {
  list-style: none;
  line-height: 2em;
  margin: 0 0.2em;
  font-size: 1em;
}

#page_nav ul li:hover {
  background-color: var(--blue-dark);
  color: var(--custom-black);
  height: 2.1em;
}

#page_nav ul li a {
  text-decoration: none;
  color: #FFFFFF
}

#page_nav ul li:hover a {
  color: var(--custom-black);
}

#page_nav ul li.selected {
  background-color: var(--blue-dark);
}

#page_nav ul li.selected a {
  color: var(--custom-black);
}


/* main content home */
#article_dmc_delorean div {
  color: var(--gray-dark);
  position: relative;
  font-size: 0.8em;
}

#main_home h1 {
  font-size: 1.3em;
}

#article_dmc_delorean img {
  width: 100%;
  margin-top: -5em;
  margin-bottom: 1em;
}

#btn_own {
  display: block;
  width: 50%;
  height: 2.5rem;
  margin: 0 auto;
  background-color: var(--blue-light);
  font-size: 1.2rem;
}

#btn_own {
  color: var(--gray-dark);
}

#figures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

#figures figure {
  height: 5rem;
  background-color: var(--blue-dark);
  text-align: center;
  width: 10em;
}

#figures figure img {
  height: 90%;
}

#figures figure figcaption {
  background-color: #FFFFFF;
}

#figures figcaption {
  font-size: 0.8em;
}

/* footer */
footer {
  text-align: center;
  font-size: 0.8em;
}

footer p {
  margin: 0;
}

/* Message */
.message {
  border: 1px dashed white;
  border-radius: 5px;
  padding: 0.5em;
  font-weight: bold;
}


/* login / register */
#main_login,
#main_register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue-dark);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--custom-black);
}

#main_login h1,
#main_register h1 {
  text-align: center;
}

#main_login #not_member {
  margin-top: 1em;
  font-weight: bolder;
}

#main_login #not_member a {
  color: var(--custom-black);
}

#main_login a:visited {
  color: var(--custom-black);
}

#form_login label,
#form_register label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#form_login input[type="email"],
#form_login input[type="password"],
#form_login input[type="text"],
#form_register input[type="email"],
#form_register input[type="password"],
#form_register input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#form_login input[type="submit"],
#form_register input[type="submit"] {
  background-color: var(--gray-dark);
  color: #FFFFFF;
  /* -webkit-text-stroke: 0.5px var(--custom-black); */
  font-weight: bolder;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  width: 80%;
  height: 3em;
  display: block;
  margin: 0 auto;
}

#form_login,
#form_register {
  position: relative;
}

.showPasswordButton {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#form_login .showPasswordButton {
  top: 8.6em;
  right: 0.5em;
}

#form_register .showPasswordButton {
  top: 21em;
  right: 0.5em;
}

.iconLock {
  font-size: 1.6em;
}

#form_login input[type="submit"]:hover,
#form_register input[type="submit"]:hover {
  background-color: var(--gray-medium);
  color: var(--custom-black);
  border: 1px solid var(--gray-dark);
}



/* Vehicle management */
#main_vehicle_management h1 {
  text-align: center;
}

#main_vehicle_management div {
  margin: 6em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

#main_vehicle_management div a {
  border: 1px solid var(--custom-black);
  border-radius: 5px;
  width: 14em;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  background-color: var(--gray-dark);
  color: white;
  text-decoration: none;
}

#main_vehicle_management div a:hover {
  background-color: var(--gray-medium);
  color: var(--custom-black);
}



/* Add car classification */
#main_add_classification {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue-dark);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--custom-black);
}

#main_add_classification h1 {
  text-align: center;
}

#form_add_classification label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}



#form_add_classification input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#form_add_vehicle input[type="submit"],
#form_add_classification input[type="submit"] {
  background-color: var(--gray-dark);
  color: #FFFFFF;
  /* -webkit-text-stroke: 0.5px var(--custom-black); */
  font-weight: bolder;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  width: 80%;
  height: 3em;
  display: block;
  margin: 0 auto;
}

#form_add_vehicle input[type="submit"]:hover,
#form_add_classification input[type="submit"]:hover {
  background-color: var(--gray-medium);
  color: var(--custom-black);
  border: 1px solid var(--gray-dark);
}



/* Add Vehicle */
#main_add_vehicle {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue-dark);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--custom-black);
}

#main_add_vehicle h1 {
  text-align: center;
}


#form_add_vehicle label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#form_add_vehicle select,
#form_add_vehicle textarea,
#form_add_vehicle input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#form_add_vehicle textarea {
  height: 10em;
}

/* input:required:invalid:not(:placeholder-shown), input:focus:invalid:not(:placeholder-shown), */
input:required:invalid, input:focus:invalid
textarea:required:invalid, textarea:focus:invalid {
  background-image: url("../images/invalid.png");
  background-size: 1em;
  background-position: right;
  background-repeat: no-repeat;
}

.wrong {
  color: red;
}
.valid {
  color: green;
}


/* admin */
#view_vechicles_link {
  margin: 0 auto;
  display: block;
  border: 1px solid var(--custom-black);
  border-radius: 5px;
  width: 14em;
  padding: 0.3em 0.5em;
  text-align: center;
  font-weight: bold;
  background-color: var(--gray-dark);
  color: white;
  text-decoration: none;
}

#view_vechicles_link:hover {
  background-color: var(--gray-medium);
  color: var(--custom-black);
}

@media only screen and (min-width: 550px) {
  body {
    background-image: url("/phpmotors/images/site/small_check.jpg");
    background-size: cover;
  }

  #wrapper {
    border: 5px solid var(--blue-dark);
    border-radius: 10px;
    margin-top: 1em;
    width: 70%;
  }

  main#main_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #article_dmc_delorean {
    position: relative;
    grid-column: 1/3;
  }

  #article_dmc_delorean div {
    margin-left: 2em;
  }

  #btn_own {
    position: absolute;
    width: 20%;
    height: 2.5em;
    top: 142px;
    left: 25px;
    font-size: 1em;
  }

  #article_delorean_reviews {
    grid-column: 2/3;
    grid-row: 3;
    padding: 0 0.5em;
  }

  #section_delorean_upgrades {
    grid-column: 1/2;
    grid-row: 3;
  }

  /* Add Vehicle */

  #main_add_vehicle {
    max-width: 60%;
  }

  #form_add_vehicle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  #form_add_vehicle label[for="carClassificationSelect"] {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  #form_add_vehicle #carClassificationSelect {
    grid-column: 1 / 3;
    grid-row: 2;
  }


  #form_add_vehicle label[for="invMake"] {
    grid-column: 1 / 2;
    grid-row: 3;
  }
  #form_add_vehicle #invMake {
    grid-column: 1;
    grid-row: 4;
  }

  #form_add_vehicle label[for="invModel"] {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  #form_add_vehicle #invModel {
    grid-column: 2;
    grid-row: 4;
  }

  #form_add_vehicle label[for="invDescription"] {
    grid-column: 1 / 3;
    grid-row: 5;
  }
  #form_add_vehicle #invDescription {
    grid-column: 1 / 3;
    grid-row:6;
  }

  #form_add_vehicle label[for="invImage"] {
    grid-column: 1 / 3;
    grid-row: 7;
  }
  #form_add_vehicle #invImage {
    grid-column: 1 / 3;
    grid-row:8;
  }

  #form_add_vehicle label[for="invThumbnail"] {
    grid-column: 1 / 3;
    grid-row: 9;
  }
  #form_add_vehicle #invThumbnail {
    grid-column: 1 / 3;
    grid-row: 10;
  }

  #form_add_vehicle label[for="invPrice"] {
    grid-column: 1 / 2;
    grid-row: 11;
  }
  #form_add_vehicle #invPrice {
    grid-column: 1 / 2;
    grid-row: 12;
  }

  #form_add_vehicle label[for="invStock"] {
    grid-column: 1 / 2;
    grid-row: 13;
  }
  #form_add_vehicle #invStock {
    grid-column: 1 / 2;
    grid-row: 14;
  }

  #form_add_vehicle label[for="invColor"] {
    grid-column: 2 / 3;
    grid-row: 13;
  }
  #form_add_vehicle #invColor {
    grid-column: 2 / 3;
    grid-row: 14;
  }

  #form_add_vehicle input[type="submit"] {
    grid-column: 1 / 3;
    grid-row: 15;
  }
}