@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

:root {
  --blue-dark: #4c96d7;
  --gray-dark: #3a3a3a;
  --gray-medium: #8d8d8d;
  --gray-light: #bababa;
  --blue-light: #a6cbeb;
  --gray-light-transparent: #bababa3f;
  --custom-black: #101010;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: 'Share Tech Mono', sans-serif;
  margin: 0;
}

#wrapper {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

main {
  padding-left: .25rem;
}

/* header */
#motors-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_link_right_space {
  padding-right: 2em;
}

.header_link {
  text-decoration: none;
  color: var(--gray-dark);
}


.info {
  border: 1px solid var(--gray-dark);
  border-radius: 50%;
  padding: 0.2em 0.4em;
    font-size: 0.8em;
  background-color: var(--gray-light);
}

.notification {
  border: 2px dashed var(--gray-dark);
  width: fit-content;
  padding: 1em 0.4em;
  font-size: 1em;
  background-color: var(--gray-light);
}

/* nav menu */
#page_nav ul {
  height: 2em;
  padding: 0 1em;
  background-color: var(--gray-dark);
  display: flex;
  gap: 0.5em;
}

#page_nav ul li {
  list-style: none;
  line-height: 2em;
  margin: 0 0.2em;
  font-size: 1em;
}

#page_nav ul li:hover {
  background-color: var(--blue-dark);
  color: var(--custom-black);
  height: 2.1em;
}

#page_nav ul li a {
  text-decoration: none;
  color: #FFFFFF
}

#page_nav ul li:hover a {
  color: var(--custom-black);
}

#page_nav ul li.selected {
  background-color: var(--blue-dark);
}

#page_nav ul li.selected a {
  color: var(--custom-black);
}


/* main content home */
#article_dmc_delorean div {
  color: var(--gray-dark);
  position: relative;
  font-size: 0.8em;
}

#main_home h1 {
  font-size: 1.3em;
}

#article_dmc_delorean img {
  width: 100%;
  margin-top: -5em;
  margin-bottom: 1em;
}

#btn_own {
  display: block;
  width: 50%;
  height: 2.5rem;
  margin: 0 auto;
  background-color: var(--blue-light);
  font-size: 1.2rem;
}

#btn_own {
  color: var(--gray-dark);
}

#figures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

#figures figure {
  height: 5rem;
  background-color: var(--blue-dark);
  text-align: center;
  width: 10em;
}

#figures figure img {
  height: 90%;
}

#figures figure figcaption {
  background-color: #FFFFFF;
}

#figures figcaption {
  font-size: 0.8em;
}

/* footer */
footer {
  text-align: center;
  font-size: 0.8em;
}

footer p {
  margin: 0;
}

/* Message */
.message {
  border: 1px dashed #272424;
  border-radius: 5px;
  padding: 0.5em;
  font-weight: bold;
  width: fit-content;
}


/* login / register */
#main_login,
#main_register,
#main_update {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue-dark);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--custom-black);
}

#main_login h1,
#main_register h1,
#main_update h1 {
  text-align: center;
}

#main_login #not_member {
  margin-top: 1em;
  font-weight: bolder;
}

#main_login #not_member a {
  color: var(--custom-black);
}

#main_login a:visited {
  color: var(--custom-black);
}

#form_login label,
#form_register label,
#form_update_info label,
#form_update_pass label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#form_login input[type="email"],
#form_login input[type="password"],
#form_login input[type="text"],
#form_register input[type="email"],
#form_register input[type="password"],
#form_register input[type="text"],
#form_update_info input[type="email"],
#form_update_info input[type="text"],
#form_update_pass input[type="text"],
#form_update_pass input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#form_login input[type="submit"],
#form_register input[type="submit"],
#form_update_info input[type="submit"],
#form_update_pass input[type="submit"] {
  background-color: var(--gray-dark);
  color: #FFFFFF;
  /* -webkit-text-stroke: 0.5px var(--custom-black); */
  font-weight: bolder;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  width: 80%;
  height: 3em;
  display: block;
  margin: 0 auto;
}

#form_login,
#form_register,
#form_update_info,
#form_update_pass {
  position: relative;
}

.showPasswordButton {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#form_login .showPasswordButton {
  top: 8.6em;
  right: 0.5em;
}

#form_register .showPasswordButton {
  top: 21em;
  right: 0.5em;
}


#form_update_pass .showPasswordButton {
  top: 2.3em;
  right: 0.5em;
}

.iconLock {
  font-size: 1.6em;
}

#form_login input[type="submit"]:hover,
#form_register input[type="submit"]:hover,
#form_update_info input[type="submit"]:hover,
#form_update_pass input[type="submit"]:hover  {
  background-color: var(--gray-medium);
  color: var(--custom-black);
  border: 1px solid var(--gray-dark);
}



/* Vehicle management */
#main_vehicle_management h1 {
  text-align: center;
}

#main_vehicle_management div#main_manage_btns {
  margin: 6em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

/* #main_vehicle_management div a  */
.btn_link{
  border: 1px solid var(--custom-black);
  border-radius: 5px;
  width: 14em;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  background-color: var(--gray-dark);
  color: white;
  text-decoration: none;
}

/* #main_vehicle_management div a:hover  */
.btn_link:hover {
  background-color: var(--gray-medium);
  color: var(--custom-black);
}



/* Add car classification */
#main_add_classification {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue-dark);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--custom-black);
}

#main_add_classification h1 {
  text-align: center;
}

#form_add_classification label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}



#form_add_classification input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.form_data_car input[type="submit"],
#form_add_classification input[type="submit"] {
  background-color: var(--gray-dark);
  color: #FFFFFF;
  /* -webkit-text-stroke: 0.5px var(--custom-black); */
  font-weight: bolder;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  width: 80%;
  height: 3em;
  display: block;
  margin: 0 auto;
}

.form_data_car input[type="submit"]:hover,
#form_add_classification input[type="submit"]:hover {
  background-color: var(--gray-medium);
  color: var(--custom-black);
  border: 1px solid var(--gray-dark);
}



/* Add Vehicle */
#main_add_vehicle, #main_update_vehicle, #main_delete_vehicle {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue-dark);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--custom-black);
}

#main_add_vehicle h1, #main_update_vehicle h1, #main_delete_vehicle h1{
  text-align: center;
}


.form_data_car label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form_data_car select,
.form_data_car textarea,
.form_data_car input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.form_data_car textarea {
  height: 10em;
}

/* input:required:invalid:not(:placeholder-shown), input:focus:invalid:not(:placeholder-shown), */
input:required:invalid, input:focus:invalid
textarea:required:invalid, textarea:focus:invalid {
  background-image: url("../images/invalid.png");
  background-size: 1em;
  background-position: right;
  background-repeat: no-repeat;
}

.wrong {
  color: red;
}
.valid {
  color: green;
}

.field_del {
  color: #444444;
  background-color: #dddddd;
}

/* admin */
#admin {
padding: 0 0 1em 1em;
}

/* #view_vechicles_link  */
.manage_btn_lk {
  margin: 0 auto;
  display: block;
  border: 1px solid var(--custom-black);
  border-radius: 5px;
  width: 14em;
  padding: 0.3em 0.5em;
  text-align: center;
  font-weight: bold;
  background-color: var(--gray-dark);
  color: white;
  text-decoration: none;
}

/* #view_vechicles_link:hover  */
.manage_btn_lk:hover {
  background-color: var(--gray-medium);
  color: var(--custom-black);
}

#modify_delete_car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: -1em;
}

.mini_btn {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--custom-black);
  border-radius: 5px;
  width: 5em;
  padding: 0.1em 0em;
  text-align: center;
  font-weight: bold;
  color: var(--custom-black);
  text-decoration: none;
}

.mini_btn:hover {
  background-color:  var(--gray-light);
}

.delete {
  background-color:  var(--blue-light);
}

.modify {
  background-color: var(--blue-dark);
}

#classificationList {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for vehicles table */
#inventoryDisplay {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid var(--gray-light);
}

#inventoryDisplay th {
  background-color: var(--gray-medium);
  text-align: left;
  padding: 8px;
  border: 1px solid var(--gray-light);
}

#inventoryDisplay thead td {
  border: none;
  padding: 0;
}

#inventoryDisplay td {
  text-align: left;
  padding: 8px;
  border: 1px solid var(--gray-light);
}

#inventoryDisplay tr:nth-child(even) {
  background-color: var(--gray-light-transparent);
}

#inventoryDisplay tr:hover{
  background-color: var(--gray-medium);
}


#inv-display{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }

#inv-display li{
  margin-bottom: .5em;
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
  width: 14em;
 }

#inv-display a:visited {
  color: #2904ee;
}
 
 #inv-display li img {
     max-width: 100%;
     display: block;
     margin: 0.3em auto;
 }


/* details vehicles */
#main_vehicle_details {
display: flex;
flex-direction: column;
padding: 1em;
margin: 1em;
}

#main_vehicle_details h1, #main_vehicle_details h2, #main_vehicle_details p {
  text-align: center;
}

#main_vehicle_details img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}


/* --------------- image admin ---------------- */
#main_image_admin h1, #main_image_admin h2{
  margin: 1rem;
}

#main_image_admin form span, #main_image_admin form label, #main_image_admin form fieldset {
  display: block;
  margin: 1rem;
  width: fit-content;
}
#main_image_admin form select{
  display: block;
  margin: 1rem;

  width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#main_image_admin form label input{
  display: block;
}

#main_image_admin form fieldset label.pImage{
  margin: 0.5rem;
  display: inline-block;
  margin-left: 1rem;
}

#main_image_admin>form>input{
  display: block;
  margin: 1rem;
}

#main_image_admin>form>input[type="submit"]{
  display: block;
  width: 12em;
  padding: 0.4em 0;
  background-color: var(--blue-light);
  margin: 1rem;
  font-size: 1rem;
}

#image-display {
  width: 90%;
 display: flex;
 flex-direction: column;
}

#image-display li {
  list-style: none;
}

#image-display li img {
  width: 100%;
}

p{
  margin: 1rem;
}
span{
  font-size: 0.8rem;
}

/* validate style--------------------------------------------------------------*/

input:focus:invalid {
  background-color: rgb(245, 197, 197);
  background-position: right top;
  background-repeat: no-repeat;
 }
input:focus:valid {
  background-color: rgb(200, 246, 200);
  background-position: right top;
  background-repeat: no-repeat;
  }



@media only screen and (min-width: 550px) {
  body {
    background-image: url("/phpmotors/images/site/small_check.jpg");
    background-size: cover;
  }

  #wrapper {
    border: 5px solid var(--blue-dark);
    border-radius: 10px;
    margin-top: 1em;
    width: 70%;
  }

  main#main_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #article_dmc_delorean {
    position: relative;
    grid-column: 1/3;
  }

  #article_dmc_delorean div {
    margin-left: 2em;
  }

  #btn_own {
    position: absolute;
    width: 20%;
    height: 2.5em;
    top: 142px;
    left: 25px;
    font-size: 1em;
  }

  #article_delorean_reviews {
    grid-column: 2/3;
    grid-row: 3;
    padding: 0 0.5em;
  }

  #section_delorean_upgrades {
    grid-column: 1/2;
    grid-row: 3;
  }

  #classificationList {
    width: 20%;
  }

  /* Add Vehicle */

  #main_add_vehicle, #main_update_vehicle, #main_delete_vehicle, #main_classification {
    max-width: 60%;
  }

  .form_data_car {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .form_data_car label[for="carClassificationSelect"] {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .form_data_car #carClassificationSelect {
    grid-column: 1 / 3;
    grid-row: 2;
  }


  .form_data_car label[for="invMake"] {
    grid-column: 1 / 2;
    grid-row: 3;
  }
  .form_data_car #invMake {
    grid-column: 1;
    grid-row: 4;
  }

  .form_data_car label[for="invModel"] {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .form_data_car #invModel {
    grid-column: 2;
    grid-row: 4;
  }

  .form_data_car label[for="invDescription"] {
    grid-column: 1 / 3;
    grid-row: 5;
  }
  .form_data_car #invDescription {
    grid-column: 1 / 3;
    grid-row:6;
  }

  .form_data_car label[for="invImage"] {
    grid-column: 1 / 3;
    grid-row: 7;
  }
  .form_data_car #invImage {
    grid-column: 1 / 3;
    grid-row:8;
  }

  .form_data_car label[for="invThumbnail"] {
    grid-column: 1 / 3;
    grid-row: 9;
  }
  .form_data_car #invThumbnail {
    grid-column: 1 / 3;
    grid-row: 10;
  }

  .form_data_car label[for="invPrice"] {
    grid-column: 1 / 2;
    grid-row: 11;
  }
  .form_data_car #invPrice {
    grid-column: 1 / 2;
    grid-row: 12;
  }

  .form_data_car label[for="invStock"] {
    grid-column: 1 / 2;
    grid-row: 13;
  }
  .form_data_car #invStock {
    grid-column: 1 / 2;
    grid-row: 14;
  }

  .form_data_car label[for="invColor"] {
    grid-column: 2 / 3;
    grid-row: 13;
  }
  .form_data_car #invColor {
    grid-column: 2 / 3;
    grid-row: 14;
  }

  .form_data_car input[type="submit"] {
    grid-column: 1 / 3;
    grid-row: 15;
  }

  /* For vehicle display in classification view */
  #main_classification {
    max-width: 100%;
  }

	#inv-display {
		flex-flow: row wrap;
		justify-content: center;
	}

	#inv-display h2{
		/* font-size: clamp(1rem, 2.5vw, 2rem) */
    font-size: 0.75em;
	}

  #inv-display hr{
    width: 100%;
  }

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
    justify-content: flex-end;
    /* justify-content: space-between; */
	}

  #inv-display li img {
    align-self: flex-start;
   margin: 1em auto;
  }
      
	#inv-display div {
		width: 100%;
	}

  #main_vehicle_details {
    margin: 1em;
    width: 90%;
    padding: 0 3em;
  }

  #main_vehicle_details h1, #main_vehicle_details h2, #main_vehicle_details p {
    text-align: left;
    margin: 0.3em;
  }
  #main_vehicle_details img {
    max-width: 95%;
    display: block;
    margin: 0;
  }
    section#single-vehicle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 0;
      align-items: center;
      gap: 0.5em;
    } 


    section#single-vehicle>img {
      grid-row: 1/5;
    }

    /* imagen admin */
    #image-display {
      width: 90%;
      /* display: grid;
      grid-template-columns: 1fr 1fr; */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1em;
    }
   
}